.debug {
	border:1px solid blue;
}

body {
	background-color:#CCFFCC;
	font-family: Century;
	margin-left:10px;
	margin-right:10px;
}
a {
	color:blue
}
a:hover {
	color:purple;
}
.margin-sm {
	margin: 10px 0px;
}
.margin-m {
	margin: 20px 0px;
}
.margin-l {
	margin: 40px 0px;
}
.fs{
	font-size: 0.6em;
}
.fm{
	font-size: 0.8em;
}
.fl {
	font-size: 6em;
}

.boxed {
  border: 1px solid green ;
} 

i {
	background-color: lavender;
}

.orange {
	
	background-color: darkgreen;
}

#navbar {
	float:right;
	width:50%;
}

#catblog {
	float:right;
	
	padding-right:10%;
	height: 30%;
	max-width: 620px;
    max-height: 300px;
    width: auto;

}

.leftside {
	
	width:20%;
	
	padding-left: 30px;
	text-align: center;
}

.rightside {

	left:70%;
	width:20%;
	position:relative;
	float:top;
	text-align: center;
}

header {
	background-color: lavender;
	border-radius: 1em;
}
h1 {
	background-color: lavender;
	border-radius: 1em;
}

#artbotmar{
	margin-bottom:2em;
	height:20em;
}
.column-1 {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-right: 2.5%;
    margin-bottom:50px;
    background-color:lavender;
}

.column-2 {
    float: left;
    width: 42.5%;
    margin-left: 2.5%;
    margin-right: 5%;
    background-color:pink;
}

.ArtistPic {
    max-width: 720px;
    max-height: 660px;
    width: auto;
}