.debug {
	border:1px solid blue;
}
*{
	font-family:courier;
}
h1 {
	background-color: lavender;
	border-radius: 1em;
}
#container {
width:900px;
margin:0 auto;
overflow:auto;
border:1px solid blue;
}
#header {
height:90px;
margin: 1em 0 0.5em 0;
	font-weight: 100;
	text-transform: uppercase;
	color: #00caa6;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}
#nav {
overflow:auto;
border:1px solid blue;
}

#nav ul {
list-style:none;
height:30px;
padding:0px;
margin:0px;
}

#nav ul li {
float:left;
margin:10px;
display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: lavender;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
}
#main {
overflow:auto;
margin-top:3px;
border:1px solid blue;
}
#main_left {
float:left;
width:590px;
min-height:400px;
border:1px solid blue;
}
#main_right {
float:left;
width:300px;
min-height:400px;
border:1px solid blue;
}
#footer {

height:40px;
border:1px solid blue;
}
a {
	color:blue
}


a:hover {
	color:purple;
}
.orange {
	
	background-color: darkgreen;
}
#catpic{
	max-width: 300px;
	max-height:400px;
}