.debug {
	border:1px solid blue;
}

body {
	background-color:#CCFFCC;
	font-family: Century;
	margin-left:10px;
	margin-right:10px;
}
a {
	color:blue
}
a:hover {
	color:purple;
}
.margin-sm {
	margin-top: 10px;
	margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.margin-m {
	margin-top: 20px;
	margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
}
.margin-l {
	margin-top: 40px;
	margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.fs{
	font-size: 0.6em;
}
.fm{
	font-size: 0.8em;
}
.fl {
	font-size: 80
}

.boxed {
  border: 1px solid green ;
} 

i {
	background-color: lavender;
}

.orange {
	
	background-color: darkgreen;
}

#navbar {
	float:right;
	width:50%;
}

#catblog {
	float:right;
	width:30%;
	padding-right:10%;

}

.leftside {
	width:20%;
	padding-bottom:10px;
	padding-left: 30px;
	text-align: center;
}
.midside {
	left:43%;
	width:20%;
	text-align: center;
	float:top;
}
.rightside {
	left:70%;
	width:20%;
	position:relative;
	float:top;
	text-align: center;
}

header {
	background-color: lavender;
	border-radius: 1em;
}
h1 {
	background-color: lavender;
	border-radius: 1em;
}